header{
    display: flex;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-size: 60px;
    background: linear-gradient(to right, green, white,red);
}

.logo{
    height: 150px;
    width: 150px;
    padding-right: 40px;
}

.luogo{
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    padding-top: 70px;
    padding-bottom: 20px;
}

.box-luogo{
    display: flex;
    place-content: center;
    flex-direction: column;
    align-items: center;
}